/**GRID SYSTEM*/
/*row define*/
.row{
    margin-left:-5px;
    margin-right:-5px;
}
/*padding*/
.col_xxl_12,
.col_xxl_11,
.col_xxl_10,
.col_xxl_9,
.col_xxl_8,
.col_xxl_7,
.col_xxl_6,
.col_xxl_5,
.col_xxl_4,
.col_xxl_3,
.col_xxl_2,
.col_xxl_1,
.col_xl_12,
.col_xl_11,
.col_xl_10,
.col_xl_9,
.col_xl_8,
.col_xl_7,
.col_xl_6,
.col_xl_5,
.col_xl_4,
.col_xl_3,
.col_xl_2,
.col_xl_1,
.col_m_12,
.col_m_11,
.col_m_10,
.col_m_9,
.col_m_8,
.col_m_7,
.col_m_6,
.col_m_5,
.col_m_4,
.col_m_3,
.col_m_2,
.col_m_1{
    padding-left:5px;
    padding-right:5px;
    float: left;
}
/*width*/
.col_xxl_12{width:100%;}
.col_xxl_11{width:91.66666666666667%;}
.col_xxl_10{width:83.33333333333333%;}
.col_xxl_9{width:75%;}
.col_xxl_8{width:66.66666666666667%;}
.col_xxl_7{width:58.33333333333333%;}
.col_xxl_6{width:50%;}
.col_xxl_5{width:41.66666666666667%;}
.col_xxl_4{width:33.33333333333333%;}
.col_xxl_3{width:25%;}
.col_xxl_2{width:16.66666666666667%;}
.col_xxl_1{width:8.333333333333333%;}
@media(max-width: 1250px){
    .col_xl_12{width:100%;}
    .col_xl_11{width:91.66666666666667%;}
    .col_xl_10{width:83.33333333333333%;}
    .col_xl_9{width:75%;}
    .col_xl_8{width:66.66666666666667%;}
    .col_xl_7{width:58.33333333333333%;}
    .col_xl_6{width:50%;}
    .col_xl_5{width:41.66666666666667%;}
    .col_xl_4{width:33.33333333333333%;}
    .col_xl_3{width:25%;}
    .col_xl_2{width:16.66666666666667%;}
    .col_xl_1{width:8.333333333333333%;}
}
@media(max-width: 650px){
    .col_m_12{width:100%;}
    .col_m_11{width:91.66666666666667%;}
    .col_m_10{width:83.33333333333333%;}
    .col_m_9{width:75%;}
    .col_m_8{width:66.66666666666667%;}
    .col_m_7{width:58.33333333333333%;}
    .col_m_6{width:50%;}
    .col_m_5{width:41.66666666666667%;}
    .col_m_4{width:33.33333333333333%;}
    .col_m_3{width:25%;}
    .col_m_2{width:16.66666666666667%;}
    .col_m_1{width:8.333333333333333%;}
}